PROJECT_NAME=
IMAGE_REGISTRY_PREFIX=
IMAGE_TAG=
TUNNEL_TOKEN_PROD=

APP_NAME=
APP_ENV=
APP_KEY=
APP_DEBUG=
APP_URL=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=